In [1]:
import pandas as pd

# Export from ADEME DPE Database

In [3]:
df = pd.read_hdf('district_level_diagnosis_data_latest.hdf')
df.set_index('td001_dpe_id', drop=False, inplace=True)
print(df.shape[0])
df.drop_duplicates('td001_dpe_id', inplace=True)
df.info()

1532140
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1448763 entries, 35 to 5419824
Data columns (total 26 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   td001_dpe_id                      1448763 non-null  int64
 1   construction_year_class           1448763 non-null  category
 2   residential_type                  1448763 non-null  category
 3   wall_u_value                      1448763 non-null  category
 4   roof_u_value                      1448763 non-null  category
 5   floor_u_value                     1448763 non-null  category
 6   wall_window_share                 1448763 non-null  category
 7   wall_window_u_value               1448763 non-null  category
 8   wall_window_solar_factor          1448763 non-null  category
 9   roof_window_share                 1448763 non-null  category
 10  roof_window_u_value               1448763 non-null  category
 11  roof_window_solar_factor          1448763 non-null  category
 12  main_heating_system_efficiency    1448763 non-null  category
 13  main_heating_energy               1448763 non-null  category
 14  backup_heating_system_efficiency  1448763 non-null  category
 15  air_change_rate                   1448763 non-null  category
 16  backup_heating_energy             1448763 non-null  category
 17  backup_heating_share              1448763 non-null  category
 18  dhw_energy                        1448763 non-null  object
 19  district                          1448763 non-null  category
 20  heating_system                    1448763 non-null  category
 21  city                              1448763 non-null  category
 22  city_name                         1448763 non-null  category
 23  department                        1448763 non-null  category
 24  city_group                        1404006 non-null  category
 25  region                            1448763 non-null  category
dtypes: category(24), int64(1), object(1)
memory usage: 78.4+ MB

### Test cohérence des données

In [6]:
test_export_dpe = pd.read_csv('td001_dpe-clean.csv', low_memory=False)
test_export_dpe.set_index('id', drop=False, inplace=True)
test_export_dpe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97964 entries, 178 to 9431386
Data columns (total 67 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   id                                              97964 non-null  int64
 1   numero_dpe                                      97964 non-null  object
 2   usr_diagnostiqueur_id                           97964 non-null  int64
 3   usr_logiciel_id                                 97964 non-null  int64
 4   tr001_modele_dpe_id                             97964 non-null  int64
 5   nom_methode_dpe                                 97964 non-null  object
 6   version_methode_dpe                             80447 non-null  object
 7   nom_methode_etude_thermique                     14186 non-null  object
 8   version_methode_etude_thermique                 14053 non-null  object
 9   date_visite_diagnostiqueur                      97964 non-null  object
 10  date_etablissement_dpe                          97964 non-null  object
 11  date_arrete_tarifs_energies                     97964 non-null  object
 12  commentaires_ameliorations_recommandations      18300 non-null  object
 13  explication_personnalisee                       18734 non-null  object
 14  consommation_energie                            97964 non-null  float64
 15  classe_consommation_energie                     97964 non-null  object
 16  estimation_ges                                  97964 non-null  float64
 17  classe_estimation_ges                           97964 non-null  object
 18  tr002_type_batiment_id                          97964 non-null  int64
 19  secteur_activite                                13008 non-null  object
 20  tr012_categorie_erp_id                          2687 non-null   float64
 21  tr013_type_erp_id                               5149 non-null   float64
 22  annee_construction                              97964 non-null  int64
 23  surface_habitable                               97892 non-null  float64
 24  surface_thermique_lot                           97892 non-null  float64
 25  tv016_departement_id                            97964 non-null  int64
 26  commune                                         97887 non-null  object
 27  arrondissement                                  36083 non-null  object
 28  type_voie                                       18148 non-null  object
 29  nom_rue                                         97902 non-null  object
 30  numero_rue                                      26592 non-null  object
 31  batiment                                        13066 non-null  object
 32  escalier                                        18786 non-null  object
 33  etage                                           17585 non-null  object
 34  porte                                           4843 non-null   object
 35  code_postal                                     97889 non-null  object
 36  code_insee_commune                              97889 non-null  object
 37  code_insee_commune_actualise                    97889 non-null  object
 38  numero_lot                                      36676 non-null  object
 39  surface_commerciale_contractuelle               20980 non-null  object
 40  portee_dpe_batiment                             84702 non-null  float64
 41  partie_batiment                                 1011 non-null   object
 42  shon                                            83524 non-null  float64
 43  surface_utile                                   84702 non-null  float64
 44  surface_thermique_parties_communes              84702 non-null  float64
 45  en_souterrain                                   83522 non-null  float64
 46  en_surface                                      83522 non-null  float64
 47  nombre_niveaux                                  84702 non-null  float64
 48  nombre_circulations_verticales                  83522 non-null  float64
 49  nombre_boutiques                                83522 non-null  float64
 50  presence_verriere                               84702 non-null  float64
 51  surface_verriere                                83522 non-null  float64
 52  type_vitrage_verriere                           0 non-null      float64
 53  nombre_entrees_avec_sas                         83522 non-null  float64
 54  nombre_entrees_sans_sas                         83522 non-null  float64
 55  surface_baies_orientees_nord                    84089 non-null  float64
 56  surface_baies_orientees_est_ouest               84089 non-null  float64
 57  surface_baies_orientees_sud                     84089 non-null  float64
 58  surface_planchers_hauts_deperditifs             84089 non-null  float64
 59  surface_planchers_bas_deperditifs               84089 non-null  float64
 60  surface_parois_verticales_opaques_deperditives  84089 non-null  float64
 61  etat_avancement                                 97964 non-null  int64
 62  organisme_certificateur                         97852 non-null  object
 63  adresse_organisme_certificateur                 96323 non-null  object
 64  dpe_vierge                                      95591 non-null  float64
 65  est_efface                                      97964 non-null  int64
 66  date_reception_dpe                              97964 non-null  object
dtypes: float64(27), int64(9), object(31)
memory usage: 50.8+ MB

In [7]:
idx = df.index.intersection(test_export_dpe.index)
idx.shape

(16855,)

In [8]:
vars_intersect_test = ['id', 'annee_construction', 'secteur_activite', 'commune']
test_export_dpe.loc[idx[:10], vars_intersect_test].head(40)

,id,annee_construction,secteur_activite,commune
178,178,5200,Maison Individuelle,SAINT-MARTIN-DU-FRÊNE
390,390,1,Maison Individuelle,PONCIN
1017,1017,1972,Maison Individuelle,OYONNAX
1302,1302,1947,Maison Individuelle,HOTONNES
1361,1361,1947,Maison Individuelle,ÉVOSGES
1628,1628,1948,Maison Individuelle,CORCELLES
1658,1658,1983,Appartement,HOTONNES
2243,2243,1980,NaN,BOURG-EN-BRESSE
2761,2761,1995,Habitation (Maisons individuelles),Géovreissiat
2779,2779,2006,Maison Individuelle,CESSY

In [9]:
vars_intersect = ['td001_dpe_id', 'construction_year_class', 'residential_type', 'city_name']
df.loc[idx[:10], vars_intersect]

,td001_dpe_id,construction_year_class,residential_type,city_name
178,178,"[1946, 1970]",house,Varambon
390,390,"[1946, 1970]",house,Villieu-Loyes-Mollon
1017,1017,"[1971, 1990]",house,Cheignieu-la-Balme
1302,1302,"[1991, 2005]",apartment,Le Montellier
1361,1361,"[1971, 1990]",house,Mantenay-Montlin
1628,1628,"[1991, 2005]",house,Colomieu
1658,1658,"[1991, 2005]",house,Le Montellier
2243,2243,"[1000, 1918]",house,Bourg-en-Bresse
2761,2761,"[1971, 1990]",house,Brion
2779,2779,"[1971, 1990]",house,Béard-Géovreissiat